Today is lesson 2

# Strings

In [ ]:
# single quote '
name = 'Mike'
print(name)
name

Mike

'Mike'

In [5]:
# double-quote "
name = "Josh"
name

'Josh'

In [8]:
sentence = """this is a
multi
line 
string"""

print(sentence)

this is a
multi
line
string

In [10]:
sentence = '''this
is a multi line
string'''
print(sentence)

this
is a multi line
string

In [11]:
sentence = 'Hello My name is John. I\'m 20 years old.'

print(sentence)

Hello My name is John. I'm 20 years old.

In [13]:
sentence = "Hello My name is John. I'm 20 years old."

print(sentence)

Hello My name is John. I'm 20 years old.

In [14]:
sentence = ''' Hello My name is John. I'm 20 years old.'''

print(sentence)

 Hello My name is John. I'm 20 years old.

In [ ]:
# indexing starts from 0
#       012345678910
word = 'hello world'

#           ...4321

word[4]

'o'

In [23]:
# negative numbers (manfiy son)

word[-3]
word[25]

IndexError: string index out of range

# Slicing

In [ ]:
# [start:end]  boshini oladi, oxiri olmaydi 
# [start:end:step] 
#       012345678910
word = 'hello world'
word[2:8]

'llo wo'

In [36]:
word[1:]

word[:5]

'hello'

In [38]:
word = 'hello world'

word[:-1]

'hello worl'

In [40]:
word = 'hello world'

word[::-2]

'drwolh'

In [ ]:
#       012345678
word = "hello world"
#  0123456
# "hello w"
word[1:7:3]

'eoo'

## String Methods

In [47]:
word = 'heLLO'

#dir(word)

word.capitalize()

'Hello'

In [49]:
word = 'salom'

word.upper()

'SALOM'

In [51]:
word = 'SAlOm'

word.lower()

'salom'

In [55]:
given_word = input("Nimadir yozing:")
print(given_word)

hello

In [ ]:
given_word = input("Nimadir yozing:")
print(given_word)

# lstrip - removes white spaces from the left side of a string
given_word = given_word.lstrip()

print(given_word)

                       helloooooo
helloooooo

In [64]:
given_word = input("Nimadir yozing:")
print(given_word, ',end')

# lstrip - removes white spaces from the left side of a string
given_word = given_word.lstrip()

given_word.rstrip()

                 hellooooo                    ,end

'hellooooo'

In [70]:
given_word = "Nimadir yozing:"
given_word.strip()

'Nimadir yozing:'

In [68]:
given_word = "This is lesson 2 about strings"

given_word.split("2")

['This is lesson ', ' about strings']

In [69]:
given_word = "This is lesson 2 about strings"
given_word.split()

['This', 'is', 'lesson', '2', 'about', 'strings']

## String Formatting

In [ ]:
name = 'John'
age = 20

print('Your name is', name, ' and your age is', age)

Your name is John  and your age is 20

In [77]:
name = 'Anna'
age = 20
# curly brackets
print('Your name is {} and your age is {}'.format(name,age))

Your name is Anna and your age is 20

In [79]:
name = 'Anna'
age = 20
# curly brackets
print('Your name is {} and your age is {}'.format(age,name))

Your name is 20 and your age is Anna

In [82]:
name = 'Anna'
age = 20
# curly brackets
print('Your name is {first_name} and your age is {age_ins}'.format(age_ins=age,first_name=name))

Your name is Anna and your age is 20

In [83]:
name = 'Josh'
age = 30
## f-string is available on or later versions of Python 3.6
print(f'Your name is {name} and Your age is {age}')

Your name is Josh and Your age is 30

In [84]:
name = 'Anna'
age = 20
# curly brackets
print('Your name is {first_name} and your age is {age_ins}. Who named you {first_name}?'.format(age_ins=age,first_name=name))

Your name is Anna and your age is 20. Who named you Anna?

In [ ]:
name = 'Josh'
age = 30
## f-string is available on or later versions of Python 3.6
print(f'Your name is {name} and Your age is {age}. Who named you {name}?')

Your name is Josh and Your age is 30. Who named you Josh?

In [ ]:
sentence = 'this\tis a multi line \nstring'
# \n = new line
# \ = escape (',"............)

# \t = tab

print(sentence)

this	is a multi line
string

In [ ]:
first_name = 'John'

last_name = 'Wick'

print(first_name +' ' + last_name)

last_name = ' Wick'
print(first_name + last_name)

John Wick
John Wick

In [ ]:
list_sentence = ['This', 'is', 'lesson', '2', 'about', 'strings']


print(' '.join(list_sentence))

print(','.join(list_sentence))

print('----'.join(list_sentence))

' '.join(list_sentence)

This is lesson 2 about strings
This,is,lesson,2,about,strings
This----is----lesson----2----about----strings

'This is lesson 2 about strings'

In [102]:
first_name = 'John'

last_name = 'Wick'

' '.join([first_name,last_name])

'John Wick'

In [2]:
first_name = 'Josh'


first_name * 5

# +, *

'JoshJoshJoshJoshJosh'

In [6]:
# my_list = [1,2,3,4]

my_list = list('sgsdfgsdfg')

my_list.sort()

my_list

['d', 'd', 'f', 'f', 'g', 'g', 'g', 's', 's', 's']

In [7]:
new_lsit = my_list

new_lsit

['d', 'd', 'f', 'f', 'g', 'g', 'g', 's', 's', 's']

In [8]:
tuple(my_list)

('d', 'd', 'f', 'f', 'g', 'g', 'g', 's', 's', 's')

In [9]:
t = (5, 2, 3, 7, 1)
x = sorted(t)
print(x)

[1, 2, 3, 5, 7]

In [10]:

x,*middle, y = t

In [11]:
middle

[2, 3, 7]